<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        <img src="/img/X_CM-logo_x70.png" alt="X-CM Logo" class="d-none d-md-inline-block align-top" style="margin-top: -20px; margin-bottom: -20px;">
        <span class="d-xs-inline d-md-none">CM</span>
    </a>
    <div class="collapse navbar-collapse">
        <span class="navbar-text">
            {{titlebarName}}
        </span>
    </div>
</nav>